@use 'variables';
@use 'mixins';

.footer{
	margin-top: 3.5rem;
	border-top: 1px solid lightgray;
	padding: 5.25rem 4%;
	display: flex;
	justify-content: space-between;
	font-size: 0.875rem;

	&__text{
		color: #909097;
	}
}

.faq{
	color: rgb(77, 109, 209);
	position: relative;
	background: none;
	border: none;
	cursor: pointer;
}